h1{ 
	text-align: center;
	background-color:burlywood ;
}


img{
	width:1350px ;
	height:300px ;
}

h2{
    text-align: center;
    width: 1500px;
    height:10px ;

}

h3{
	border:solid 5px ;
	background-color: salmon;
}

h5{
	border: solid  burlywood;
	background-color: salmon;
	text-align: center;
	font-size:30px ;
}


    
